<div class="wrapper">
  <div class="main-content">
    <div class="container-fluid">
      <div class="row text-center" style="margin-top:10%;">
        <p>Placeholder for what we are trying to do</p>
        <p>The architecture of any software can be thought of as a blueprint containing the details about its structure. The blueprint is the end artifact generated based on a series of decisions taken by software architects and decides the overall quality of the resultant software. Software architects, being human, are invariably subject to the influence of cognitive biases during their decision-making. The reason can be attributed to the cognitive limitations of the human mind based on various factors such as previous experiences, lack of information or too much of it, the need to make rapid decisions, genetics and so on. Although the preconceived notion about cognitive biases always having a negative impact is not always true, they do result in a systematic deviation from the ideal decision-making process. The deviation results in missing rationality behind decisions and can be reasoned as the factor leading to designing of sub-par solutions.
          This paper focusses on identifying and formalizing decision-making process models in the context of software architecture design decisions. Three models are investigated in detail: rational economic model, bounded rational model and recognition prime model. The steps of decision-making were then mapped with the OODA Loop (Observe, Orient, Decide and Act) decision cycle. Additionally, different types of cognitive biases were identified from multiple sources and relevant ones were filtered based on the context. Detailed information about each bias was gathered and documented to produce a catalogue.
        </p>
      </div>
      <div class="row text-center" style="margin-top:10%;">
        <p>Placeholder for image on how to use the catalogue</p>
      </div>
      <div class="row text-center" style="margin-top:10%;">
        <p>Placeholder for text info on how to use the catalogue</p>
        <p>We suggest the following mechanism for best use of the catalogue. However, the users are free to use it in whichever manner they deem to be beneficial.
          Firstly, gain an understanding of the OODA loop and how it is related to decision-making. Next, proceed to learn about the three different decision-making models – rational-economic, bounded rational and naturalistic models.  Understand the connectivity between the OODA Loop and the decision-making process models. Next, move on to the bias catalogue. It is suggested to read it before proceeding to the actual decision-making. The entire catalogue might prove to be too extensive to read thoroughly in the first attempt. Therefore, we suggest readers to be familiar with the bias classifications with respect to the OODA loop shown in fig. 3.1 to 3.4 to be aware of the contexts. Additionally, being familiar with the definitions of the biases is helpful especially since the names of many biases are deceptive to its actual meaning.
          During the actual decision-making, establish the current state clearly and understand which phase of the OODA loop it falls into. Afterwards, read the biases related to the phase in depth from the catalogue to be aware of it to reduce or eliminate the impact of the biases.
        </p>
      </div>
    </div>
  </div>
</div>